.PizzaName {
    color: brown;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PizzaPrice {
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.PizzaInfoDefault{
    width: 300px;
    display: inline-block;
    margin-left: 65px;
}

.BucketButton {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #494949 !important;
    border-radius: 3%;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin-left: 10px;
}

.BucketButton:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

